<!DOCTYPE html>
<html>
  <head>
    <title>All The Jokes</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script>
    
    </script>
  </head>
  <body>
    <h1>All the Jokes 
    </h1>

<ul>
  {{#each allJokes}}
  <li> {{this}}</li>
  {{/each}}
  </ul>

  </body>
</html>

