<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>Welcome to {{ title }}</p>
    <h1> Your Name is: {{userName}} </h1>
    <p>Go to the <a href="joke"> Joke Page</></p>
    <p>Go to the <a href="addjoke"> Add Joke Page</></p>
  </body>
</html>